:root {
  --dark-color: #2f2d33;
  --light-color: rgb(244, 245, 245);
}

#root {
  height: 100vh;
  letter-spacing: 1px;
  max-width: 1280px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
  position: relative;
  overflow: hidden;
}

body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url(assets/holobubbles.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h3 {
  color: var(--dark-color);
  font-size: 38px;
  font-family: 'galderglynn_titlingextralight';
  letter-spacing: 5px;
}

p {
  font-family: 'Times New Roman', Times, serif;
  color: var(--dark-color);
  margin: 20px auto;
  width: 260px;
}

img {
  border-radius: 10px;
  margin: 8px auto 24px;
  transition: 0.5s ease-in-out;
}

button {
  background-color: #ffffff;
  background-image: linear-gradient(30deg, rgba(216,199,207,0.8) 20%, rgba(209, 210, 165, 0.8) 66%, rgba(175,216,243,0.8) 89%);
  border-radius: 5px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  cursor: pointer;
  font-family: 'galderglynn_titlingextralight';
  font-size: 16px;
  height: 30px;
  margin: 20px auto;
  transition: 0.25s;
  width: 260px;
}

button:hover {
  scale: 1.02;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 32px auto;
  padding: 16px;
  width: 950px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.firstPic {
  rotate: -4deg;
}

.firstPic:hover {
  rotate: 4deg;
}

.secondPic {
  rotate: 3deg;
}

.secondPic:hover {
  rotate: -3deg;
}
 
.thirdPic {
  rotate: -5deg;
}

.thirdPic:hover {
  rotate: 5deg;
}

@media screen and (max-width: 768px) {

  img {
    width: 110px;
    height: 110px;
    margin: 8px auto;
  }
  
  h3 {
    margin: 2px;
    font-family: 'galderglynn_titlingregular';
    font-size: 16px;
  }

  button {
    margin: 4px auto;
    width: auto;
  }

  p {
    margin: 4px auto;
    width: auto;
  }
 
 .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 300px;
  }

  .container {
    width: 80%;
    padding: 32px;
  }
}