:root {
  --dark-color: #0d0c0f;
  --light-color: rgb(244, 245, 245);
}

#root {
  font-family: 'Neucha', cursive;
  height: 100vh;
  letter-spacing: 1px;
  max-width: 1280px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

body {
  background-color: var(--light-color);
}

h3 {
  color: var(--dark-color);
  font-size: 24px;
}

p {
  color: var(--dark-color);
}

img {
  border-radius: 10px;
  margin: 8px;
  transition: 0.5s ease-in-out;
}

img:hover {
  scale: 1.05;
}

button {
  background-color: var(--light-color);
  color: var(--dark-color);
  margin: 8px;
}

body {
  height: 85vh;
  position: relative;
  width: 100%;
}

body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url(assets/holobubbles.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
 
@media screen and (max-width: 768px) {
  img {
    margin: 2px;
  }
}