:root {
  --dark-color: #0d0c0f;
  --light-color: rgb(244, 245, 245);
}

#root {
  font-family: 'Neucha', cursive;
  max-width: 1280px;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: var(--dark-color);
}

h3 {
  color: var(--light-color);
  font-size: 24px;
}

p {
  color: var(--light-color);
}

img {
  border-radius: 10px;
  margin: 8px;
  transition: 0.5s ease-in-out;
}

img:hover {
  scale: 1.05;
}

button {
  margin: 8px;
}

@media screen and (max-width: 768px) {
  img {
    margin: 2px;
  }
}